<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <link rel="manifest" href="manifest.json" crossorigin="">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="" href="">
    <link href="{% static 'assets/css5/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>User Dashboard</title>
    <style>
      .product-item {
          margin-bottom: 20px; /* Space between items */
          border: 1px solid #ddd; /* Light border around items */
          border-radius: 8px; /* Rounded corners */
          overflow: hidden; /* Ensure content doesn't overflow the border */
          transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
      }
      .product-item:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
      }
      .product-item img {
          width: 100%; /* Ensure image fits within the item */
          height: auto; /* Maintain aspect ratio */
      }
      .down-content {
          padding: 15px; /* Padding inside the item */
      }
      .action-buttons a {
          margin-right: 10px; /* Space between buttons */
      }
      .action-buttons a:last-child {
          margin-right: 0; /* No margin for the last button */
      }
  </style>
</head>










<body>
    
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center"><img src="" alt="jobBox"></div>
            </div>
        </div>
    </div>
    <header class="header sticky-bar">
        <div class="container">
            <div class="main-header">
                <div class="header-left">
                </div>
                <div class="header-right">
                    <div class="dropdown d-inline-block">
                        {% if user.is_authenticated and user.is_employee %}
                            <a href="{% url 'upload_cv' %}" class="btn btn-primary mr-2">
                                <i class="fas fa-upload"></i> Upload CV
                            </a>
                            <a href="{% url 'logout_user' %}" class="btn">
                                <i class="fas fa-sign-out-alt" style="color: red;"></i> <span style="color: red;">Logout</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="member-login">
                        {% if user.is_authenticated and user.is_employee %}
                            <span style="color: cornflowerblue;">{{ user.username }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-content-area">
                <div class="perfect-scroll">
                    <div class="mobile-search mobile-header-border mb-30">
                        <form action="#">
                            <input type="text" placeholder="Search…"><i class="fa fa-search"></i>
                        </form>
                    </div>
                    <div class="mobile-account">
                        <h6 class="mb-10">Your Account</h6>
                        {% if user.is_authenticated and user.is_employee %}
                            {{ user.username }}
                            <a href="{% url 'logout_user' %}" class="btn">
                                <i class="fas fa-sign-out-alt" style="color: red;"></i> <span style="color: red;">Logout</span>
                            </a>
                            <a href="{% url 'upload_cv' %}" class="btn btn-primary mr-2">
                              <i class="fas fa-upload"></i> Upload CV
                          </a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="box-profile-completed text-center mb-30">
        </div>
        <div class=""><span class=""></span><span class=""></span>
        </div>
        <div class="box-content">
            {% if messages %}
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="box-heading">
                <div class="box-title">
                    <h3 class="mb-35">User Dashboard</h3>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for job in jobs %}
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="product-item">
                                <img src="{% static 'assets/images/demo.jpg' %}" alt="">
                                <div class="down-content">
                                    <h4>{{ job.title }}</h4>
                                    <h6>${{ job.salary }}</h6>
                                    <h4>
                                        <small>
                                            <i class="fa fa-briefcase"></i> {{ job.workplace_type }} <br>
                                            <strong><i class="fa fa-building"></i> {{ job.company_name }}</strong>
                                        </small>
                                    </h4>
                                    <small>
                                        <strong title="Posted on"><i class="fa fa-calendar"></i> {{ job.posted_date }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <strong title="Type"><i class="fa fa-file"></i> {{ job.job_type }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <strong title="Location"><i class="fa fa-map-marker"></i> {{ job.location }}</strong><p>
                                        <strong title="Category"><i class="fa fa-tag"></i> {{ job.job_category }}</strong> <!-- Added Job Category -->    
                                    </small>
                                    <!-- Action Buttons -->
                                    <div class="action-buttons mt-3">
                                        <a href="{% url 'user_view_job' job.id %}" class="btn" style="color:green">Details</a>
                                        <a href="{% url 'apply_job' job.id %}" class="btn" style="color:blue">Apply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-md-12">
                            <p>No jobs available.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            


        </div>
    </main>
    <script src="{% static 'assets/js1/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js1/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js1/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js1/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js1/waypoints.js' %}"></script>
    <script src="{% static 'assets/js1/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js1/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js1/select2.min.js' %}"></script>
    <script src="{% static 'assets/js1/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js1/jquery.circliful.js' %}"></script>
    <script src="{% static 'assets/js1/index.js' %}"></script>
    <script src="{% static 'assets/js1/xy.js' %}"></script>
    <script src="{% static 'assets/js1/Animated.js' %}"></script>
    <script src="{% static 'assets/js1/armcharts5-script.js' %}"></script>
    <script src="{% static 'assets/js1/main.js' %}"></script>
</body>
</html>
